<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPERIMENT SETUP</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

    <div id="upper_header" class="image-container"></div>

    <div class="topnav">
        <a href="/logout">Logout ({{ g.user.username }})</a>
        <a  href="/">Setup de experimento</a>
        <a href="experiment-data">Acompanhamento de experimento</a>
        <a class="active" href="configuration">Configuração</a>
    </div>

    <script src="../static/js/script.js"></script>

</body>
</html>
