<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input/Output Test</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

    <div id="upper_header" class="image-container">
        {% for logo_path in header_logos %}
            <img src="{{ url_for('static', filename=logo_path) }}" class="img-fluid" alt="Client Logo">
        {% endfor %}
    </div>

    <div class="topnav">
        <a href="/logout">Logout ({{ g.user.username }})</a>
        <a class="active" href="input-output-test">Teste de Entrada/Saída</a>
        
    </div>

    <div class="io-container">
        <h1>Teste de Entrada/Saída</h1>
        
        <div class="io-section">
            <h4>Entradas (Sensores)</h4>
            
            <div class="adc-container">
                <h4>MCP 1</h4>
                <div class="adc-values">
                    <div class="adc-channel">
                        <span class="channel-label">CH0 - GN  Aberto/Fechado:</span>
                        <span class="channel-value" id="mcp1-ch0">0</span>
                        <span class="channel-unit">%</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH1 - MOTOR :</span>
                        <span class="channel-status status-inactive" id="mcp1-ch1-status">Desligado</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH2 - Valv Armaz. :</span>
                        <span class="channel-status status-inactive" id="mcp1-ch2-status">Fechado</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH3 - Valv. Eletro./Sensores :</span>
                        <span class="channel-status status-inactive" id="mcp1-ch3-status">Fechado</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH4 - Eletrolisador.:</span>
                        <span class="channel-status status-inactive" id="mcp1-ch4-status">Desligado</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH5 - Bomba H2.:</span>
                        <span class="channel-status status-inactive" id="mcp1-ch5-status">Ligada</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH6 - Valv. Armaz. Emerg. :</span>
                        <span class="channel-status status-inactive" id="mcp1-ch6-status">Fechada</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH7 - Bico Injetor:</span>
                        <span class="channel-value" id="mcp1-ch7">0</span>
                        <span class="channel-unit">%</span>
                    </div>
                </div>
            </div>
            
            <!-- <div class="adc-container">
                <h3>MCP 2</h3>
                <div class="adc-values">
                    <div class="adc-channel">
                        <span class="channel-label">CH0 - Bico:</span>
                        <span class="channel-status status-inactive" id="mcp2-ch0-status">Fechado</span>
                    </div> -->
                    <!-- <div class="adc-channel">
                        <span class="channel-label">CH1:</span>
                        <span class="channel-value" id="mcp2-ch1">0</span>
                        <span class="channel-unit">V</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH2:</span>
                        <span class="channel-value" id="mcp2-ch2">0</span>
                        <span class="channel-unit">V</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH3:</span>
                        <span class="channel-value" id="mcp2-ch3">0</span>
                        <span class="channel-unit">V</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH4:</span>
                        <span class="channel-value" id="mcp2-ch4">0</span>
                        <span class="channel-unit">V</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH5:</span>
                        <span class="channel-value" id="mcp2-ch5">0</span>
                        <span class="channel-unit">V</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH6:</span>
                        <span class="channel-value" id="mcp2-ch6">0</span>
                        <span class="channel-unit">V</span>
                    </div>
                    <div class="adc-channel">
                        <span class="channel-label">CH7:</span>
                        <span class="channel-value" id="mcp2-ch7">0</span>
                        <span class="channel-unit">V</span>
                    </div> -->
                <!-- </div>
            </div> -->

            <h4>Saídas (Atuadores)</h4>
            
            <div class="gpio-container">
                <div class="gpio-controls">
                    <div class="gpio-control">
                        <span class="gpio-label">GPIO 2 - GN:</span>
                        <button id="gpio-btn-2" class="gpio-push-button" data-gpio="2">ABRIR</button>
                    </div>
                    <div class="gpio-control">
                        <span class="gpio-label">GPIO 3 - GN:</span>
                        <button id="gpio-btn-3" class="gpio-push-button" data-gpio="3">FECHAR</button>
                    </div>
                    <div class="gpio-control">
                        <span class="gpio-label">GPIO 23 - Motor:</span>
                        <button id="gpio-btn-23" class="gpio-push-button" data-gpio="23">LIGAR</button>
                    </div>
                    <div class="gpio-control">
                        <span class="gpio-label">GPIO 17 - ABRIR ARMZ. :</span>
                        <div class="toggle-switch">
                            <input type="checkbox" id="gpio17" class="gpio-toggle">
                            <label for="gpio17"></label>
                        </div>
                    </div>
                    <div class="gpio-control">
                        <span class="gpio-label">GPIO 27 - ABRIR ELTZ. :</span>
                        <div class="toggle-switch">
                            <input type="checkbox" id="gpio27" class="gpio-toggle">
                            <label for="gpio27"></label>
                        </div>
                    </div>
                    <div class="gpio-control">
                        <span class="gpio-label">GPIO 22 - LIGAR ELET./SENSORES:</span>
                        <div class="toggle-switch">
                            <input type="checkbox" id="gpio22" class="gpio-toggle">
                            <label for="gpio22"></label>
                        </div>
                    </div>
                    <div class="gpio-control">
                        <span class="gpio-label">GPIO 0 - LIGAR BOMBA H2:</span>
                        <div class="toggle-switch">
                            <input type="checkbox" id="gpio0" class="gpio-toggle">
                            <label for="gpio0"></label>
                        </div>
                    </div>
                    <div class="gpio-control">
                        <span class="gpio-label">GPIO 13 - ABRIR VALV. ARMZ. ERMEG. :</span>
                        <div class="toggle-switch">
                            <input type="checkbox" id="gpio13" class="gpio-toggle">
                            <label for="gpio13"></label>
                        </div>
                    </div>
                </div>
                
                <div class="pwm-container">
                    <h3>Controles PWM</h3>
                    
                    <div class="pwm-control">
                        <span class="pwm-label">GPIO 12 (PWM) - BICO INJETOR:</span>
                        <input type="range" id="pwm-gpio12" class="pwm-slider" min="0" max="100" value="0">
                        <span class="pwm-value" id="pwm-gpio12-value">0%</span>
                    </div>
                    
                    <!-- <div class="pwm-control">
                        <span class="pwm-label">GPIO 13 (PWM) - LIGAR/DESLIGAR INJETOR:</span>
                        <input type="range" id="pwm-gpio13" class="pwm-slider" min="0" max="100" value="0">
                        <span class="pwm-value" id="pwm-gpio13-value">0%</span>
                    </div>
                </div> -->
                
                <div class="data-logging">
                    <h3>Registro de Dados</h3>
                    <button id="log-data-button" class="log-button">Registrar Valores do Sensor</button>
                    <div id="log-status" class="log-status"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/io-test.js"></script>
</body>
</html>